<% layout("layout/layout") %>
<div class="h-10 d-inline-block text-center position-relative" style="width: 100%; background-color: rgba(0,0,255,.1)">
    <h1><%= title %> </h1>
</div>
<div class="text-center mt-3">
    <a href="/products/create" >
        <button type="button" class="btn btn-primary">ADD PRODUCT</button>
    </a>
</div>
<div class="container">
    <div class="row justify-content-center">
        <% for(let p of products){ %>
            <div class="col-md-4 p-3">
                <a href="<%= p.url %>">
                    <div class="card h-100" style="width: 18rem;">
                        <img class="card-img-top" src="<%= p.image.thumbnail %>" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"><%= p.name %> </h5>
                    </div>
                  </div>
                </a>
            </div>
        <% } %> 
    </div>

</div>